body {
  background-color: pink;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: top;
  text-align: center;
  border-radius: 8px;
}

.square:hover {
  background-color: grey;
}

.square:active {
  background-color: green;
}

.start-button::before {
  content: "";
  display: block;
  width: 500px;
}

.board {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

.row {
  margin: 0 auto;
  text-align: center;
}

.alert {
  background: rgba(0, 0, 0, 0.1);
  position: static;
}
